* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

#loading {
  background: url("/images/loading/loading.svg") no-repeat center center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.logo img {
  height: 95px;
}

.center-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 10px 12px 0px #00000023;
}

.header .nav {
  justify-content: space-between;
  display: flex;
  right: 15px;
  position: fixed;
}

.header ul li a {
  color: #000000;
  font-weight: 200;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 5px;
  margin: 10px;
}

.header ul li a:hover {
  color: #cf3b5b;
}

.carousel-item {
  height: 535px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

.carousel-inner p {
  color: #000000;
  z-index: 2;
}

.carousel-item img {
  max-height: 100%;
  object-fit: cover;
}

.slider-text p {
  font-weight: 200;
  color: #ffffff;
}

.slider-text {

  font-size: 16px !important;
  text-align: center;
  width: 550px;
  background-color: #0000004c;
  border-radius: 20px;
  padding: 40px 20px;
}

.services-area {
  background-image: url(/images/img/home/section-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.medical-box img {
  width: 480px;
  height: 340px;
  margin: 0px 0px 50px 230px;
  border-radius: 65px;
  box-shadow: 25px 25px 25px -3px rgb(109, 109, 109);
}

.medical-box img:hover {
  opacity: 0.8;
  transition-duration: 0.9s;
}

.medical-box-txt p {
  width: 60%;
}

.about-box-1 {
  border: 0px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #ffffff;
  overflow: hidden;
}

.about-box-1 img {
  width: 100%;
  margin-bottom: 16px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.about-box-1:hover {
  background-color: rgba(4, 19, 96, 0.279);
  color: #ffffff;
}

.communication-box span {
  color: #34323217;
  z-index: -1;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 0;
  display: flex;
  justify-content: center;
}

.communication-box h1 {
  margin-bottom: 75px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.location p img {
  width: 20px;
}

.location:hover {
  color: #cf3b5b;
  cursor: pointer;
}

.phone-number p img {
  width: 22px;
}

.phone-number a {
  text-decoration: none;
  color: #000000;
}

.phone-number a:hover {
  color: #cf3b5b;
}

.phone a {
  text-decoration: none;
  color: #000000;
}

.phone a:hover {
  color: #cf3b5b;
}

.phone p img {
  width: 26px;
}

.mail img {
  width: 22px;
  margin: 2px;
}

.mail a {
  text-decoration: none;
  color: #000000;
}

.mail a:hover {
  color: #cf3b5b;
}

.footer-area {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  height: 140px;
}
